@font-face {
font-family: "Gabriola", sans-serif;
    src: url(./Maket/Fonts/gabriola.ttf);
font-family: "Montserrat", sans-serif;
    src: url(./Maket/Fonts/Montserrat-VariableFont_wght.ttf);
    src: url(./Fonts/Montserrat-Italic-VariableFont_wght.ttf);
}